/*
 *
 * MagicMirror Module: {{cookiecutter.module_slug}}
 *
 * Author: {{cookiecutter.author_name}}
 * License: {{cookiecutter.module_license.upper()}}
 *
 * Styles:
 */

 .{{cookiecutter.module_slug}}-table {
    color: white;
 }

 .{{cookiecutter.module_slug}}-table-heading {
   height: 36px;
   font-size: 36px;
}

.{{cookiecutter.module_slug}}-table-row {
   height: 24px;
   font-size: 24px
}